/* ----- General ----- */

html, body {
	font-family: sans-serif;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

button {
	background-color: #266;
	border: none;
	color: #fff;
	display: block;
	font-size: xx-large;
	padding: .5em;
	cursor: pointer;
}

.loading-message {
	font-size: x-large;
	color: #aa3939;
	text-align: center;
}


/* ----- Main & Header ----- */

header {
	color: #aa6c39;
	font-size: x-large;
	height: 10%;
	display: flex;
	border-bottom: 1px solid #aa6c39;
}

header > h3 {
	margin: 0;
	flex-grow: 1;
	align-self: center;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	height: 89%;
	justify-content: center;
}

main, header {
	margin: 0 5% 0;
}

@media (min-width: 640px) {

	main, header {
		width: 40em;
		margin: 0 auto 0;
	}

}


/* ----- Component - Choose User ----- */

.choose-user {
	margin: 5% 0;
}


/* ----- Component - Gathering Players ----- */

.begin {
	margin-bottom: 1em;
}

.player-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #2d882d;
}

.player-list > li {
	margin: 0;
	padding: 0;
	font-size: x-large;
}


/* ----- Component - Choose Category */

.category-choice {
	margin: 3% 0;
	font-size: x-large;
}

.category-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #2d882d;
}

.category-list > li {
	margin: 2% 0;
	padding: 0;
	font-size: xx-large;
}


/* ----- Component - Category Info ----- */

.category-name {
	color: #2d882d;
	text-align: center;
	font-weight: normal;
}

.start-round {
	margin-top: 4em;
}


/* ----- Component - Question ----- */

.question-answer, .screen-question, .player-question {
	color: #266;
	margin-bottom: 3em;
	text-align: center;
}

.question-points {
	color: #2d882d;
	text-align: center;
}

.input-answer {
	font-size: x-large;
	margin-bottom: 3em;
	resize: none;
	color: #aa6c39;
}


/* ----- Component - Answers ----- */

.user-label {
	color: #266;
	font-size: x-large;
	font-weight: bold;
	display: block;
	text-align: center;
}

.input-score {
	color: #2d882d;
	font-size: large;
	margin: 1em 0;
	width: 100%;
}

.score-button {
	font-size: x-large;
	width: 100%;
	margin-top: 2em;
}

.answer-user {
	color: #266;
	text-align: center;
}

.answer {
	color: #aa6c39;
	font-size: large;
	text-align: center;
}
