/* ----- General ----- */

html, body {
	font-family: sans-serif;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

button {
	background-color: #266;
	border: none;
	color: #fff;
	display: block;
	font-size: xx-large;
	padding: .5em;
	cursor: pointer;
}


/* ----- Main & Header ----- */

header {
	color: #aa6c39;
	font-size: x-large;
	height: 10%;
	display: flex;
	border-bottom: 1px solid #aa6c39;
}

header > h3 {
	margin: 0;
	flex-grow: 1;
	align-self: center;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	height: 89%;
	justify-content: center;
}

main, header {
	margin: 0 5% 0;
}

@media (min-width: 640px) {

	main, header {
		width: 40em;
		margin: 0 auto 0;
	}

}


/* ----- Component - Choose User ----- */

.choose-user {
	margin: 5% 0;
}


/* ----- Component - Gathering Players ----- */

.gathering-players {
	font-size: x-large;
	color: #aa3939;
	text-align: center;
}

.begin {
	margin-bottom: 1em;
}

.player-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #2d882d;
}

.player-list > li {
	margin: 0;
	padding: 0;
	font-size: large;
}
